In [2]:
import pandas as pd 
import numpy as np 
import joblib

In [6]:
model=joblib.load('../models/model_rf.pkl')

In [7]:
df=pd.read_csv('../User_input/ui_1.csv')

In [8]:
df

,Unnamed: 0,Age,Gender,Region,Urban/Rural,SES,Smoking Status,Alcohol Consumption,Diet Type,Physical Activity Level,...,BMI (kg/m²),Stress Level,Resting Heart Rate (bpm),ECG Results,Chest Pain Type,Maximum Heart Rate Achieved,Exercise Induced Angina,Blood Oxygen Levels (SpO2%),Triglyceride Levels (mg/dL),Pluse Pressure
0,0,25,Male,West,Urban,High,Regularly,Occasionally,Non-Vegetarian,High,...,24.0,High,70,Abnormal,Atypical,150,Yes,80,500,-74

In [9]:
model.predict(df)

array([0], dtype=int64)